[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
python-telegram-bot = "*"
python-dotenv = "*"
mock = "*"
hikari = "*"
pytest-asyncio = "*"
asyncmock = "*"
asyncio = "*"

[dev-packages]
flake8 = "*"
python-telegram-bot = "*"
python-dotenv = "*"

[requires]
python_version = "3"
